<div id="dialog-bg">
	<div id="dialog-title">{{SYSLang.Confirm}}</div>
    <div id="dialog-description">{{message}}</div>

<!-- Buttons, both options close the window in this demo -->
    <div id="dialog-buttons">
	    <button {{action 'doYes'}}>{{SYSLang.Yes}}</button>
	    <button {{action 'doNo'}}>{{SYSLang.No}}</button>
	</div>
</div>
