<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="activity"}}{{itinerary-attribute-icon "activity"}}</label>
<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="destination"}}{{itinerary-attribute-icon "destination"}}</label>
<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="flight"}}{{itinerary-attribute-icon "flight"}}</label>
<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="car"}}{{itinerary-attribute-icon "car"}}</label>
<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="food"}}{{itinerary-attribute-icon "food"}}</label>
<label>{{view App.RadioButton name="attrType" selectionBinding="attributeType" value="hotel"}}{{itinerary-attribute-icon "hotel"}}</label>